header {
  background: var(--bg-header);
  backdrop-filter: blur(10px);
}

a {
  color: var(--color-light);
  border-bottom: 2px solid transparent;
  transition: color 0.3s, border-bottom 0.3s;
  font-weight: 700;
}

a:hover, a.active {
  color: var(--color-primary)  !important;;
  border-bottom: 2px solid var(--color-primary);
}

.logo {
  width: 120px;
}

.logo img {
  width: 90%;
}

.navbar-nav .nav-link img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  transition: transform 0.4s;
}

.navbar-nav .nav-link img:hover {
  transform: scale(1.1);
}
