<div class="main" id="login">
  <div class="main-wrapper">
    <div class="scroll">
      <iframe src="https://lottie.host/embed/d186f2cf-3e46-4f8c-b00c-0d821713c856/mKsxWvPJol.json" width="100px" height="100px"></iframe>
      <h5>SCROLL</h5>
    </div>
    <div class="content" data-aos="fade-up" data-aos-delay="300">
      <div class="logo d-none d-md-block">
        <img src="../../../../assets/images/black.png" alt="">
      </div>
      <h1><span>Bienvenue</span> dans votre <br> espace privé !</h1>
      <p>Unlock a world of education with a single click!
        Please login into your account.</p>
      <button class="login1" (click)="onOpenOrClose(true)">Login</button>
    </div>
  </div>
</div>

<section class="popup" [ngStyle]="{'display': check ? 'flex' : 'none'}">
  <button (click)="onOpenOrClose(false)">Close</button>
  <div class="sign-in">
    <app-section-login></app-section-login>
  </div>
</section>


