
.toggle {
  display: none;
}


.toggle-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

/* Icon styling */
.toggle-label i {
  font-size: 22px;  /* Adjust the icon size */
  color: var(--text-color);
  transition: color 0.3s;
}

/* Dark theme specific styles */
.dark-theme .toggle-label i {
  color: var(--dark-text-color);
}
