<div class="login-wrapper">
    <div class="main-left">
        <img src="../../../assets/images/girl.jpg" alt="image">
    </div>
    <div class="main-right">

        <div class="logo">
            <!-- <img src="../../../assets/images/black.png" alt=""> -->
        </div>

        <div class="content1">
            <h2 id="lets">Let the journey begin !</h2>
            <!-- <p class="">Unlock a world of education with a single click! Please login into your account.</p> -->
        </div>

        <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
            <div class="group">
              <label for="username">username</label><br />
              <div class="icon-input">
                <input id="username" formControlName="username" type="text" placeholder="@enna.com" aria-label="Username" />
                <i class="pi pi-user"></i>
              </div>
            </div>
            <div class="group">
              <label for="password">password</label><br />
              <div class="icon-input">
                <input id="password" formControlName="password" type="password" placeholder="*******" aria-label="Password" />
                <i class="pi pi-unlock"></i>
              </div>
            </div>
            <a>Forgot password ?</a><br />
            <button type="submit" [disabled]="formLogin.invalid || isLoading">Login</button>
            <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
          </form>


    </div>
</div>
